<main>
  <div>
    <img src="{{videojuego.urlimg}}">
  </div>
  <div class="name">
    <a>{{videojuego.titulo}}</a>
  </div>
  <div class="caja">
    <a class="buy">${{videojuego.precio}}</a>
    <button class="btn">Añadir al carrito</button>
  </div>
  <section class="cajita">
    <div>
      <div class="title">

      </div>
      <section class="ga">
        <div>

        </div>
        <div>

        </div>
      </section>
    </div>

    <div>
      <div>

      </div>
      <div>

      </div>
      <div>

      </div>
    </div>
    <div>
    </div>
  </section>

</main>



