.picture{
  width: 75%;
  height: 100%;
}
img{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.product{
  width: 100%;
  height: 100%;
  display: flex;
}
.videoname{
  width: 100%;
}
.info{
  width: 25%;
  height: 100%;
  background-color: white;
}
.name{
  padding-top: 3vh;
  text-align: center;
  line-height: 40px;
  height: 15%;
  width: 100%;
  font-size: 30px;
  font-family: Rockwell;
  text-align: center;
}
.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Rockwell;
  height: 75px;
  margin-top: 21px;
  margin-bottom: 3vh;
  width: 100%;
  font-size: 34px;
  }
.buy{
  font-size: 30px;
}
.caja{
  height: 15%;
  padding-top: 2vh;
  text-align: center;
}
.cajita{
  width: 100%;
  height: 100vh;
  color: #fff;
  box-sizing: border-box;
  padding: 2%;
  background-color: white;
  margin-top: 3vh;
}
.cajita div {
  display: inline;
  width: 100%;
}
.title{
  height: 20%;
  width: 10%;
}
.gametitle{
  text-align: center;
  color: #141414;
  font-size: 25px;
  font-family: Rockwell;
}
.ga{
  height: 20vh;
}
.data{
  font-size: 16px;
  font-family: Rockwell;
  color: #141414;
  padding: 1vh;
  height: 6vh;
}
.datos{
  display: inline;
  flex-direction: row;
  width: 2vh;
}
.detalle{
  height: 100%;
  font-size: 20px;
  font-family: Rockwell;
  color: #141414;
  padding: 1vh;
}
