<main>
  <div class="searchbartext">
    <div>
      <img class = "lupa" src="assets/lupa.png">
    </div>
    <form class="example-form" >
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Search" matInput  [formControl]="myControl" [matAutocomplete] = "auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor = "let option of filteredOptions | async" [value] = "option.titulo">
            <p>{{option.titulo}}</p>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <div class = "container">

    <div class = "filtercontainer">
        <p>Genre</p>
        <div class="form-check" *ngFor="let control of selectedGenres.controls; let i =index;">
          <input class="form-check-input" (change)=" getSelectedGenre()" [formControl]="control" type="checkbox" value="option{{i}}  " id="defaultCheck{{i}}">
          <label class="form-check-label" for="defaultCheck{{i}}">
            {{generos[i]}}
          </label>
        </div>
        <p>Language</p>
        <div class="form-check" *ngFor="let control of selectedLanguages.controls; let i =index;">
          <input class="form-check-input" (change)=" getSelectedLanguage()" [formControl]="control" type="checkbox" value="option{{i}}  " id="defaultCheck{{i}}">
          <label class="form-check-label" for="defaultCheck{{i}}">
            {{lenguajes[i]}}
          </label>
        </div>
    </div>
    <div class="gamescontainer">
      <div *ngFor = "let r of filteredOptions | async" class="game-box">
        <div class="image-box">
          <img class = "picture" src="{{r.urlimg}}">
        </div>
        <div class = "description">
          <div class = "box-name">
            <a>{{r.titulo}}</a>
          </div>
          <div class = "box-price">
            <a [routerLink]="['/games',r.titulo]">See more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>


