main{
}
.searchbartext{
  font-size: 24px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 5px blueviolet;
  background: rgba(205,19,156,1);
  background: -moz-linear-gradient(left, rgba(205,19,156,1) 0%, rgba(205,19,156,0.74) 74%, rgba(224,52,179,0.69) 88%, rgba(240,81,198,0.69) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(205,19,156,1)), color-stop(74%, rgba(205,19,156,0.74)), color-stop(88%, rgba(224,52,179,0.69)), color-stop(100%, rgba(240,81,198,0.69)));
  background: -webkit-linear-gradient(left, rgba(205,19,156,1) 0%, rgba(205,19,156,0.74) 74%, rgba(224,52,179,0.69) 88%, rgba(240,81,198,0.69) 100%);
  background: -o-linear-gradient(left, rgba(205,19,156,1) 0%, rgba(205,19,156,0.74) 74%, rgba(224,52,179,0.69) 88%, rgba(240,81,198,0.69) 100%);
  background: -ms-linear-gradient(left, rgba(205,19,156,1) 0%, rgba(205,19,156,0.74) 74%, rgba(224,52,179,0.69) 88%, rgba(240,81,198,0.69) 100%);
  background: linear-gradient(to right, rgba(205,19,156,1) 0%, rgba(205,19,156,0.74) 74%, rgba(224,52,179,0.69) 88%, rgba(240,81,198,0.69) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd139c', endColorstr='#f051c6', GradientType=1 );
}
.example-form {
  max-width: 60%;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.lupa{
  height: 40px;
  width: 40px;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
}
.searchbarlist{
  margin-top: 2vh;
  height: 100%;
  max-height: 100%;
}
.activado{
  background-color: #D761CE;
}
.card{
  margin: 0px 0px 0px 0px;

}
.card-header > h3{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: auto;
  font-family: Rockwell;

}
.card-body{
  font-size: 16px;
  margin: 0px;
  color: #f9f9f9;
}
.buttonsize > .btn-group,.btn-lg{
  height: 80px;
  background: #141414;
  margin-bottom: 2vh;
  margin-left: 1vh;
}
.btn-group{
  padding: 0px;
  padding-top: 0px;
}
.container{
  margin-top: 3vh;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  margin-bottom: 10%;
}
.game-box{
  margin: 3vh;
  height: 30vh;
  width: 20%;
  background-color: #999999;
  box-shadow: 5px 5px 5px black;
}
.image-box{
  padding: 2vh;
  height: 60%;
}
.picture{
  height: 100%;
  width: 100%;
}
.description{
  height: 40%;
  padding: 0px;
}
.box-name{
  height: 50%;
  padding: 1vh;
  text-align: left;
}
.box-price{
  height: 50%;
  padding: 1vh;
  text-align: right;
}
.filterbuttons{
  margin-left: 5%;
  margin-right: 5%;
}
.filterbuttons button{
  margin: 2vh;
}
