
<div class="searchbartext">
  <div class="searchbarlist">
    <div class="btn-group">
      <button class="boton-size btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Games
      </button>
      <div class="dropdown-menu owndropdown-content" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLinkActive="activado" routerLink="/home">Action</a>
        <a class="dropdown-item" routerLink="/home">Adventure</a>
        <a class="dropdown-item" routerLink="/home">Indie</a>
        <a class="dropdown-item" routerLink="/home">RPG</a>
        <a class="dropdown-item" routerLink="/home">Shooter</a>
        <a class="dropdown-item" routerLink="/home">Simulatio</a>
        <a class="dropdown-item" routerLink="/home">Sports</a>
        <a class="dropdown-item" routerLink="/home">Racing</a>
        <a class="dropdown-item" routerLink="/home">Strategy</a>
      </div>
    </div>
  </div>
  <div>
    <img class = "lupa" src="assets/lupa.png">
  </div>
  <form class="example-form" >
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Search" matInput  [formControl]="myControl" [matAutocomplete] = "auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor = "let option of filteredOptions | async" [value] = "option.titulo">
          <p>{{option.titulo}}</p>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
 <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Games</h3>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
          <tr class="text-center">
            <th>Name</th>
            <th>Imagen</th>
            <th>Codigo</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let r of filteredOptions | async" class="text-center">
            <td>{{r.titulo}}</td>
            <td>{{r.urlimg}}</td>
            <td>{{r.idvideojuego}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
 </div>

