<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">A2B.com<i>NO GAME NO LIFE</i> es una iniciativa de un pequeño grupo de desarrolladores para poder adentrarse en el mundo de la programacion web</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Desarrolladores</h6>
          <ul class="footer-links">
            <li><a href="#"></a></li>
            <li><a href="#">Giro Pinto</a></li>
            <li><a href="#">Kevin Rosado</a></li>
            <li><a href="#">Jack Mendoza</a></li>
            <li><a href="#">Carlos Merino</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Mas sobre nosotros</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Apoyanos</a></li>
            <li><a href="#">Politicas de privacidad</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text"> 
       <a href="#">A2B </a>&copy; 2020
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>