<div class="ownnavbar">
  <a class="position" routerLink="/home">HOME</a>
  <a class="position" routerLink="/about">ABOUT US</a>
  <a class="position" routerLink="/producto">GAMES</a>
  <img style="float: right;" class="ownlogo" src="assets/a2b.png">
  <div *ngIf="!isAuthenticated" class="position" style = "float: right">
    <a href="#myModal" class="trigger-btn" data-toggle="modal">LOGIN</a>
  </div>
  <div *ngIf="isAuthenticated">
    <a style="cursor: pointer; float: right;" class="position" (click)="onLogout()">Logout</a>
  </div>
  <a style="float: right;" class="position" routerLink="/carrito">CARRITO</a>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="isLoginMode" class="modal-title">Sign In</h4>
        <h4 *ngIf="!isLoginMode" class="modal-title">Sign Up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <div class="modal-body">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" method="post">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input id="email" type="email" class="form-control" name="email" placeholder="Username" required="required" email ngModel>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input id="password" type="password" minlength="6" class="form-control" name="password" placeholder="Password" required="required" ngModel>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="!authForm.valid" type="submit" class="btn btn-primary btn-block btn-lg">{{LoginMode}}</button>
          </div>
          <p *ngIf="isLoginMode" class="hint-text"><a>Forgot Password?</a></p>
        </form>
      </div>
      <div class="modal-footer ">{{LoginStringMode}}
        <a *ngIf="!isLoginMode"(click)="SwitchMode()" >Sign In</a>
        <a *ngIf="isLoginMode" (click)="SwitchMode()">Sign Up</a>
      </div>
    </div>
  </div>


</div>
