<div class = "about">
  <div class="formatoText">
    <h1 class = "title">ABOUT US</h1>
    <h2>¿Qué es A2B?</h2>
    <p>Accesible to Buy (A2B) es una página web diseñada por un grupo de estudiantes del tercer
      ciclo de la carrera de Ingenieria de Sistemas de la Universidad Nacional de Ingeniería, pensada en los videojugadores y dedicados al Office Work como una alternativa de compra accesible de una variedad de videojuegos y programas de ofimática.
      En esta página podrás encontrar la mejor opción de precio de tu producto deseado de un conglomerado de páginas web garantizando el menor gasto del cliente y una mejor decisión de compra. Nosotros te aconsejamos, tú decides tu compra!
    </p>
    <h2>Objetivos</h2>
    <a>El lema de nuestra página es :</a> <a class = "lema">"Busca menos, consigue más"</a><a>. Buscamos que nuestros clientes puedan reducir sus dudas respecto a las recomendaciones que reciben sobre los videojuegos o aplicaciones
    de software de su interés, reduciendo su tiempo de búsqueda y favoreciendo una elección adecuada,
    compartiendo sus opiniones sobre dichos productos para así colaborar con las demás personas y ayudarles
    también a tener la mejor experiencia en nuestra página.
  </a>
    <img class="imagen" src="assets/LogoA2B.png">
  </div>
</div>

